* {
	box-sizing: border-box;
}

.education-details h2 {
	margin: 10px 5px !important;
}

.education-details p {
	margin: 5px 5px !important;
	padding: 0px 0px !important;
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: "";
	position: absolute;
	width: 6px;
	background-color: var(--main);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

/* Container around content */
.educontainer {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

/* The circles on the timeline */
.educontainer::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid var(--dark);
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

/* Arrows pointing right */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	/* z-index: 1; */
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent var(--main);
}

/* Arrows pointing left */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent var(--main) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
	left: -16px;
}

.education-details {
	width: 100%;
	padding: 10px 30px;
	background-color: white;
	position: relative;
	color: var(--main);
	border-radius: 6px;
	border-width: thick;
	border-color: var(--main);
}

.education-details p{
	color: var(--main);
	padding-top: 0px 0px;
}



/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 840px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: -10px;
	}
	.educontainer {
		width: 100%;
		padding-left: 20px;
		padding-right: 25px;
	}
	.educontainer::before {
		left: 10px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent var(--main) transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.left::after,
	.right::after {
		left: -25px;
	}

	/* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	}
}
