:root {
	/* --main: #a43f49; */
	--main: #345b63;
	/* --main: #f44647; */
	--background: #d4ecdd;
	--dark: #112031;
	--red: #e02401;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-weight: 0;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
		sans-serif;
	/* font-family: "Lato", sans-serif; */
}

a,
a:hover {
	text-decoration: none;
}

p {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
}

h4 {
	font-size: 26px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.25px;
}

img {
	width: 100%;
	overflow: hidden;
}

.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-media ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-media ul li {
	display: inline-block;
}

#page-wraper {
	/* background: url(../images/page-bg.jpg) no-repeat center center fixed; */
	background-color: var(--background);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

.container {
	margin: 0 auto;
}

.main-nav {
	text-align: center;
}

.main-nav li:last-child a {
	border-bottom: 2px solid #fff;
}

.main-nav li {
	display: block;
}

.main-nav li a {
	height: 70px;
	line-height: 70px;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	width: 100%;
	border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
	background: #fff;
	color: var(--dark);
	/* color: blue; */
}

.menu .image {
	margin-top: 60px;
}

.menu .image img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	text-align: center;
}

.menu .author-content {
	margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
	margin-bottom: 0px;
}

.menu .author-content span {
	font-size: 13px;
	font-style: italic;
	color: #fff;
}

.menu .social-media {
	margin-top: 30px;
}

.menu .social-media ul li {
	margin: 0 3px;
}

.menu .social-media ul li a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 14px;
}

.menu .social-media ul li a:hover {
	background-color: #fff;
	color: var(--main);
}

.menu a {
	text-decoration: none;
	color: inherit;
}

.menu {
	text-align: center;
}

.menu::-webkit-scrollbar {
	display: none;
}

.menu {
	left: 10%;
	-webkit-overflow-scrolling: touch;
	background-color: var(--main);
	box-sizing: border-box;
	height: 100vh;
	max-height: 100vh !important;
	max-width: 80vw !important;
	min-width: 45px !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	/* padding: 0; */
	position: fixed !important;
	/* top: calc(0px); */
	width: 20%;
	will-change: transform;
	z-index: 9999 !important;
}

#menu-toggle {
	/* z-index: 999; */
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	color: var(--main);
	background-color: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	display: inline-block;
	line-height: 60px;
}

#menu-close {
	cursor: pointer;
	text-align: right;
	color: var(--main);
	background-color: #fff;
	width: 100%;
	height: 60px;
	text-align: center;
	display: inline-block;
	line-height: 60px;
}

.menu .date-time {
	position: relative;
	display: flex;
	margin-top: 10px;
	justify-content: center;
}

.menu .date-time p {
	border-top: 1px solid rgba(250, 250, 250, 0.1);
	display: inline-block;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 13px;
}

.about-name p {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	letter-spacing: 0.02em;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	font-size: 100px !important;
	line-height: inherit;
	height: 100%;
	width: 100%;
	font-weight: 1000;
	padding: 0px 2pt;
	margin: 0px 0px;
	text-align: left;
	color: var(--dark);
	overflow-x: hidden;
}

.about-name span {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	font-size: 100px !important;
	color:var(--red) !important;
	/* color: #00A19D !important; */
}

.about-hire p {
	color: var(--main);
	padding-left: 5pt;
}

.about-hire a {
	color: var(--red);
}

.about-hire a:hover {
	font-weight: 600;
}

.section {
	color: #fff;
	width: 55%;
	right: 10%;
	left: 35%;
	position: relative;
	min-height: 100vh;
	padding-bottom: 80px;
	border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
	text-align: center;
	padding: 40px 45px;
}

.section-heading h2 {
	font-size: 32px;
	font-weight: 700;
	color: var(--main);
}

.section-heading .line-dec {
	width: 60px;
	height: 3px;
	background-color: var(--main);
	margin: 10px auto;
	margin-top: 0;
}

.section-heading span {
	margin-top: 5px;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.5px;
}
/* 
.white-button a {
	display: inline-block;
	padding: 12px 20px;
	background-color: var(--main);
	color: #fff;
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border-radius: 50px;
}

.white-button a:hover {
	background-color: #fff;
	color: var(--main);
} */

.education-details a {
	color: var(--main);
	/* text-transform: uppercase; */
	font-weight: 800;
}

.education-details a:hover {
	color: var(--dark);
}

#menu-toggle,
#menu-close {
	display: none;
}

@media screen and (max-width: 1680px) {
	.menu {
		left: 5%;
	}
	.section {
		color: #fff;
		width: 65%;
		right: 5%;
		left: 30%;
	}
}

@media screen and (max-width: 1680px) and (min-width: 846px) {
	.menu .social-media ul li a {
		width: 36px;
		height: 36px;
		line-height: 36px;
	}

	.menu .social-media ul li {
		margin: 0;
	}

	.menu .image {
		margin-top: 60px;
	}
}

@media screen and (max-width: 1280px) {
	.menu {
		left: 0%;
	}
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
	.menu {
		width: 25%;
	}
}

@media screen and (max-width: 845px) {
	#menu-toggle,
	#menu-close {
		display: inline-block;
	}

	.menu {
		width: 320px;
		transform: translateX(-100%) !important;
	}

	.menu.open {
		display: inline-block;
		transform: translateX(0) !important;
	}

	.menu .image {
		margin-top: 40px;
	}

	.menu .image img {
		width: 120px;
		height: 120px;
	}

	.menu .author-content {
		margin: 20px 0px 40px 0px;
	}

	.responsive-nav {
		display: inline-block;
	}

	.about-name p {
		font-size: 70px !important;
	}
	.about-name span {
		font-size: 70px !important;
	}

	.section {
		left: 20vh;
	}
}

@media screen and (max-width: 600px) {
	.about-name p {
		display: flex;
		font-size: 45px !important;
		text-align: left;
		align-items: center;
	}
	.about-name span {
		font-size: 45px !important;
	}
	.about-hire p{
		font-size: 15px !important;
	}
	.section {
		left: 10vh;
	}
}

@media screen and (max-width: 400px) {
	.about-name p {
		display: flex;
		font-size: 30px !important;
		text-align: left;
		align-items: center;
	}
	.about-name span {
		font-size: 30px !important;
	}

	.about-hire p{
		font-size: 15px !important	;
	}
}
